{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Pour me contacter{% endblock %}

{% block body %}

<div class="phone-message">

    <p class="message-contact">Nhésitez pas à me joindre par mail, téléphone
        ou via ce formulaire. Je reviendrai vers vous 
        dans les plus brefs délais.</p>

</div>

<div.phone- class="container-fluid contact-me">
	
	<div class="col-md-4 info-contact">
        <h2 class="h2-contact">Me contacter</h2>
        <p class="message-contact">Nhésitez pas à me joindre par mail, téléphone
            ou via ce formulaire. Je reviendrai vers vous 
            dans les plus brefs délais.</p>
        <p class="contact-text"><img class="icon-contact" src="https://zupimages.net/up/21/01/efl8.png" alt="logo-phone"> <span class="space-contact">0685959706</span> </p>
        <p><img class="icon-contact" src="https://zupimages.net/up/21/01/68to.png" alt="logo-phone"> <span class="space-contact"> txrpaul@gmail.com </span></p>
        <p><img class="icon-contact" src="https://zupimages.net/up/21/01/68to.png" alt="logo-phone"> <span class="space-contact"> Paris 75017 </span></p>
    </div>
        
        
    <div class="col-md-8 contact-form">
        {% if message == "Votre message a bien été envoyé !"%}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endif %}

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4 lastmail-contact">
                {{ form_row(form.lastname, {'attr': {'placeholder': "Votre nom"}, 'label': "Nom*",}) }}
                {{ form_row(form.email, {'attr':{'placeholder': " Votre Email"}, 'label': "Email*"}) }}
            </div>
            <div class="col-md-4 firstphone-contact">
                {{ form_row(form.firstname, {'attr': {'placeholder': "Votre prénom"}, 'label': "Prénom*"}) }}
                {{ form_row(form.phone, {'attr':{'placeholder': " Votre Téléphone"}, 'label': "Téléphone (non
                requis)"}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-contact">
                {{ form_row(form.message, {'attr':{'placeholder': " Contenu du message", 'rows': "5"}, 'label':
                "Contenu*"}) }}
                <button type="submit" class="btn btn-success submit-contact">Envoyer</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div.phone-message>

{% endblock %}