{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

<h1 style="display: none;">Mes projets</h1>

<div class="container-fluid project-container">
    <a href="{{ '/9' }}"><button class="techno-link">Architecture MVC</button></a>
    <a href="{{ '/5' }}"><button class="techno-link">Bootstrap</button></a>
    <a href="{{ '/2' }}"><button class="techno-link">Javascript</button></a>
    <a href="{{ '/1' }}"><button class="techno-link">Php</button></a>
    <a href="{{ '/3' }}"><button class="techno-link">Symfony</button></a>
    <a href="{{ '/11' }}"><button class="techno-link">Twig</button></a>
    <a href="{{ '/10' }}"><button class="techno-link">Wordpress</button></a>
</div>

<div class="container-fluid">
    <div class="row project-cards">
        {% for project in projects %}
        <div class="card-body col-lg-3">
            <div class="card">
            <img class="card-img-top" src="{{ project.pictures[0].url }}" alt="{{ project.title }}"><button type="button" class="btn btn-light read-more" data-toggle="modal"
            data-target="#modal-{{project.id}}">{{ project.title }}</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% for project in projects %}
<div class="modal" id="modal-{{project.id}}" tabindex="-1" aria-labelledby="modal-{{project.id}}" aria-hidden="true" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{project.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if project.github %}<a href="{{ project.github|striptags }}" target="_blank"><button class="github-button">Dépôt Github</button></a>{% endif %}
        {% if project.onlineUrl %}<a href="{{ project.onlineUrl|striptags }}" target="_blank"><button class="url-button">Site en ligne</button></a>{% endif %}
        <p>{{ project.description|striptags }}</p>
        <h5>Set technique</h5>
      {% if project.id == 1 %}
          <li class='homeskills'>Architecture MVC</li>
          <li class='homeskills'>Bootstrap</li>
          <li class='homeskills'>Php</li>
          <li class='homeskills'>Twig</li>
        {% elseif project.id == 2 %}
          <li class='homeskills'>Wordpress</li>
        {% elseif project.id == 3 %}
          <li class='homeskills'>Wordpress</li>
        {% elseif project.id == 4 %}
          <li class='homeskills'>Html & CSS</li>
          <li class='homeskills'>Javascript pour certaines animations</li>
        {% elseif project.id == 5 %}
          <li class='homeskills'>Bootstrap</li>
          <li class='homeskills'>Php</li>
          <li class='homeskills' >Symfony</li>
          <li class='homeskills'>Twig</li>
        {% elseif project.id == 6 %}
          <li class='homeskills'>Bootstrap</li>
          <li class='homeskills'>Php</li>
          <li class='homeskills'>Symfony</li>
          <li class='homeskills'>Twig</li>
        {% elseif project.id == 7 %}
          <li class='homeskills'>Bootstrap</li>
          <li class='homeskills'>Javascript</li>
          <li class='homeskills'>Php</li>
          <li class='homeskills'>Symfony</li>
          <li class='homeskills'>Twig</li>
      {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}

